.application
    .navigation
        position: absolute
        z-index: 5
        top: 0
        width: 100%
        padding: $big-gutter
        .container
            text-align: center
            .menuBtn
                float: left
        .mobileMenu
            width: 100%
            position: absolute
            left: 0
            top: 0
            z-index: 10
            background: $white
            padding: $big-gutter
            display: none
            justify-content: space-between
            -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
            animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
            .closeBtn
                height: 1rem
                cursor: pointer
            .menu
                display: flex
                .link
                    margin-left: 1rem
                    color: $black
                    font-weight: $bold
                    padding-left: 1rem
    
    .galleryArea
        .image
            position: relative
            .controller
                z-index: 3
                position: absolute
                background: green
                display: flex
                bottom: 3px
                right: 0
                .control
                    background: $black
                    &:hover
                        cursor: pointer
                        background: $vryDrkGry
                    img
                       padding: $gutter $big-gutter
                    
        .container
            padding: $big-gutter + .5rem $big-gutter
            line-height: 1.5rem
            h1
                color: $black
                font-size: 2rem
                font-weight: $bold
                line-height: 2.25rem
            p
                font-size: .98rem
                margin: $gutter 0 $big-gutter
            a
                color: $black
                letter-spacing: 5px
                text-transform: uppercase
                font-size: 1.15rem
                .svg
                    margin-left: $big-gutter
                &:hover
                    color: $drkGray
                    .svg
                        stroke: $drkGray
                        fill: $drkGray
                

    .bottomTier
        display: grid
        .imageHolder
            width: 100%
            img
                width: 100%
        .info
            grid-row: 2/3
            .container
                padding: $big-gutter + .5rem $big-gutter
                line-height: 1.5rem
                h1
                    color: $black
                    font-size: 1.2rem
                    letter-spacing: 2px
                    text-transform: uppercase
                    font-weight: $bold
                    margin-bottom: 1rem
                p
                    font-size: .98rem


    @-webkit-keyframes slide-bottom
        0%
            -webkit-transform: translateY(-1000px)
            transform: translateY(-1000px)
        100%
            -webkit-transform: translateY(0)
            transform: translateY(0)

    @keyframes slide-bottom
        0%
            -webkit-transform: translateY(-1000px)
            transform: translateY(-1000px)
        100%
            -webkit-transform: translateY(0)
            transform: translateY(0)
